<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>News</key>
	<dict>
		<key>Arts</key>
		<string>http://feeds.reuters.com/news/artsculture</string>
		<key>Business</key>
		<string>http://feeds.reuters.com/reuters/businessNews</string>
		<key>Company News</key>
		<string>http://feeds.reuters.com/reuters/companyNews</string>
		<key>Entertainment</key>
		<string>http://feeds.reuters.com/reuters/entertainment</string>
		<key>Environment</key>
		<string>http://feeds.reuters.com/reuters/environment</string>
		<key>Health News</key>
		<string>http://feeds.reuters.com/reuters/healthNews</string>
		<key>Lifestyle</key>
		<string>http://feeds.reuters.com/reuters/lifestyle</string>
		<key>Media</key>
		<string>http://feeds.reuters.com/news/reutersmedia</string>
		<key>Money</key>
		<string>http://feeds.reuters.com/news/wealth</string>
		<key>Most Read Articles</key>
		<string>http://feeds.reuters.com/reuters/MostRead</string>
		<key>Oddly Enough</key>
		<string>http://feeds.reuters.com/reuters/oddlyEnoughNews</string>
		<key>Pictures</key>
		<string>http://feeds.reuters.com/ReutersPictures</string>
		<key>People</key>
		<string>http://feeds.reuters.com/reuters/peopleNews</string>
		<key>Politics</key>
		<string>http://feeds.reuters.com/Reuters/PoliticsNews</string>
		<key>Science</key>
		<string>http://feeds.reuters.com/reuters/scienceNews</string>
		<key>Sports</key>
		<string>http://feeds.reuters.com/reuters/sportsNews</string>
		<key>Technology</key>
		<string>http://feeds.reuters.com/reuters/technologyNews</string>
		<key>Top News</key>
		<string>http://feeds.reuters.com/reuters/topNews</string>
		<key>US News</key>
		<string>http://feeds.reuters.com/Reuters/domesticNews</string>
		<key>World</key>
		<string>http://feeds.reuters.com/Reuters/worldNews</string>
	</dict>
	<key>Markets</key>
	<dict>
		<key>Bankruptcy</key>
		<string>http://feeds.reuters.com/reuters/bankruptcyNews</string>
		<key>Bonds</key>
		<string>http://feeds.reuters.com/reuters/bondsNews</string>
		<key>Deals</key>
		<string>http://feeds.reuters.com/news/deals</string>
		<key>Economy</key>
		<string>http://feeds.reuters.com/news/economy</string>
		<key>Financial Services &amp; Real Estate</key>
		<string>http://feeds.reuters.com/reuters/financialServicesrealEstateNews</string>
		<key>Global Markets</key>
		<string>http://feeds.reuters.com/reuters/globalmarketsNews</string>
		<key>Hedge Funds</key>
		<string>http://feeds.reuters.com/news/hedgefunds</string>
		<key>Hot Stocks</key>
		<string>http://feeds.reuters.com/reuters/hotStocksNews</string>
		<key>IPOs</key>
		<string>http://www.reuters.com/rssFeed/newIssuesNews</string>
		<key>Small Business</key>
		<string>http://feeds.reuters.com/reuters/smallBusinessNews</string>
		<key>US Dollar Report</key>
		<string>http://feeds.reuters.com/reuters/USdollarreportNews</string>
		<key>US Markets</key>
		<string>http://feeds.reuters.com/news/usmarkets</string>
	</dict>
	<key>Sectors</key>
	<dict>
		<key>Basic Materials</key>
		<string>http://feeds.reuters.com/reuters/bankruptcyNews</string>
		<key>Cyclical Consumer Goods</key>
		<string>http://feeds.reuters.com/reuters/cyclicalconsumergoodsNews</string>
		<key>Energy </key>
		<string>http://feeds.reuters.com/reuters/USenergyNews</string>
		<key>Environment</key>
		<string>http://feeds.reuters.com/reuters/environment</string>
		<key>Financials </key>
		<string>http://feeds.reuters.com/reuters/financialsNews</string>
		<key>Healthcare</key>
		<string>http://feeds.reuters.com/reuters/UShealthcareNews</string>
		<key>Industrials</key>
		<string>http://feeds.reuters.com/reuters/industrialsNews</string>
		<key>Media Diversified</key>
		<string>http://feeds.reuters.com/reuters/USmediaDiversifiedNews</string>
		<key>Non-Cyclical Consumer Goods </key>
		<string>http://feeds.reuters.com/reuters/noncyclicalconsumergoodsNews</string>
		<key>Technology </key>
		<string>http://feeds.reuters.com/reuters/technologysectorNews</string>
		<key>Technology, Media &amp; Telecommunications Telecommunications </key>
		<string>http://feeds.reuters.com/reuters/UStechnologyTelcomNews</string>
		<key>Telecommunications </key>
		<string>http://feeds.reuters.com/reuters/telecomsectorNews</string>
		<key>Utilities</key>
		<string>http://feeds.reuters.com/reuters/utilitiesNews</string>
	</dict>
	<key>Analysis &amp; Opinion</key>
	<dict>
		<key>Afghan Journal</key>
		<string>http://feeds.reuters.com/reuters/blogs/AfghanJournal</string>
		<key>Anthony DeRosa</key>
		<string>http://feeds.reuters.com/reuters/blogs/AnthonyDerosa</string>
		<key>Bernd Debusmann</key>
		<string>http://feeds.reuters.com/reuters/blogs/reuters-dealzone</string>
		<key>Chrystia Freeland</key>
		<string>http://feeds.reuters.com/ChrystiaFreeland</string>
		<key>David Cay Johnston</key>
		<string>http://feeds.reuters.com/reuters/reuters/blogs/DavidCayJohnston</string>
		<key>Davos Notebook</key>
		<string>http://feeds.feedburner.com/reuters/blogs/DavosNotebook</string>
		<key>Reuters Photographers</key>
		<string>http://feeds.reuters.com/reuters/blogs/photo</string>
		<key>Unstructured Finance</key>
		<string>http://feeds.reuters.com/UnstructuredFinance</string>
	</dict>
	<key>Video</key>
	<dict>
		<key>Breakingviews Video</key>
		<string>http://feeds.reuters.com/reuters/USVideoBreakingviews</string>
		<key>Business Video</key>
		<string>http://feeds.reuters.com/reuters/USVideoBusiness</string>
		<key>Entertainment Video</key>
		<string>http://feeds.reuters.com/reuters/USVideoEntertainment</string>
		<key>Environment Video</key>
		<string>http://feeds.reuters.com/reuters/USVideoEnvironment</string>
		<key>Most Watched Video</key>
		<string>http://feeds.reuters.com/reuters/USVideoMostWatched</string>
		<key>Most Recent Video</key>
		<string>http://feeds.reuters.com/reuters/USVideoLatest</string>
		<key>Politics Video</key>
		<string>http://feeds.reuters.com/reuters/USVideoPolitics</string>
		<key>Technology Video</key>
		<string>http://feeds.reuters.com/reuters/USVideoTechnology</string>
		<key>Top News Video</key>
		<string>http://feeds.reuters.com/reuters/USVideoTopNews</string>
		<key>World News</key>
		<string>http://feeds.reuters.com/reuters/USVideoWorldNews</string>
	</dict>
</dict>
</plist>
